configuration {
    icon-theme: "papirus-icon-theme";
    display-drun: "Applications:";
    display-window: "Windows:";
    display-run: "";
    drun-display-format: "{icon} {name}";
    font: "JetBrainsMono Nerd Font Medium 10";
    modi: "window,run,drun";
}
@theme "./themes/cloud.rasi"


