From\ home/qutebrowser/.local/
!From\ home/qutebrowser/.local/share/qutebrowser/userscripts/

From\ home/qutebrowser/.config/qutebrowser/bookmarks/
From\ home/qutebrowser/.config/qutebrowser/greasemonkey/
From\ home/qutebrowser/.config/qutebrowser/qsettings/
From\ home/qutebrowser/.config/qutebrowser/startpages/
From\ home/qutebrowser/.config/qutebrowser/quickmarks

From\ home/gtk/.gtkrc-2.0
From\ home/Default\ apps/



