/* colors */

* {
  al:   #00000000;
  bg:   #0c0c0dFF;
  bga:  #DF6368FF;
  fga:  #a58c89FF;
  fg:   #edc8c4FF;
  ac:   #A25A67FF;

  bg1:   #f56c72FF;
  bg2:   #ff767cFF;
  bg3:   #ff8087FF;
  bg4:   #ff8a91FF;
}
