/* colors */

* {
  al:   #00000000;
  bg:   #0a111eFF;
  bga:  #AB3458FF;
  fga:  #a17b80FF;
  fg:   #e7b1b8FF;
  ac:   #8F2D4EFF;

  bg1:   #bc3960FF;
  bg2:   #cd3e69FF;
  bg3:   #de4372FF;
  bg4:   #ef487bFF;
}
