configuration {
    modi: "window,run,drun,calc";
    display-drun: "Applications:";
    display-window: "Windows:";
    display-run: "";
    display-calc: "Calculate: ";
    drun-display-format: "{icon} {name}";
    font: "JetBrainsMono Nerd Font Medium 10";
    icon-theme: "papirus-icon-theme";
    application-fallback-icon: "~/.config/icons/general_app.png";
    fixed-num-lines: false;
}
@theme "./themes/list.rasi"


